body {
  background-color: #bfd6f383;
  color: #024e88;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

button {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

li {
  list-style-type: none;
  color: #024e88;
  text-transform: capitalize;
  text-align: right;
}

li + li {
  margin-top: 4px;
}

p {
  color: #024e88;
  text-transform: capitalize;
  margin: 2px;
  text-align: center;
}

h2 {
  font-size: 5.5vh;
  color: #024e88;
  margin: 5px 15px 5px 36px;
  text-align: right;
  display:flex-end;
}

h3 {
  font-size: 9vh;
  color: #024e88;
  margin: 0.2px 2px;
}

h4 {
  color: #daa520;
  margin: 3px 15px 10px 46px;
  font-size: 2vh;
  text-align: right;
}

h5 {
  font-size: 2vh;
  color: #bf4be3;
  margin-top: -3px;
  margin-left: -10px;
  text-align: center;
}

a {
  text-decoration: none;
}

#outlined-search {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
